


 .ant-table-thead > tr > th {
  height: 70px !important;
  padding: 8px !important;
  white-space: nowrap;
}

/* .ant-table-body {
  max-height: 45vh !important;
  overflow-y: auto;
}  */




.ant-table {
  max-height: 800px !important;
}

/* Sabit satır yüksekliği */
.fixed-height-row td {
  height: 70px !important; /* Tüm satırlar için sabit yükseklik */
  padding: 8px !important;
  white-space: normal !important; /* İçerik çok uzunsa alt satıra geçmesine izin ver */
  vertical-align: middle !important; /* İçeriği dikey olarak ortala */
}

/* Kısaltılmış açıklama metni için stil */
.truncated-description {
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Maksimum 2 satır göster */
  line-clamp: 2; /* Standart özellik */
  -webkit-box-orient: vertical;
  cursor: help; /* Üzerine gelindiğinde yardım imleci göster */
}

