body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.table-container {
  position: relative;
}

.search-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
}

.search-input {
  width: 200px;
  margin-left: -195px;
  border-radius: 15px;
}

.table {
  width: 100%;
  background-color: white;
  color: black;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.table thead {
  border-radius: 30px;
}

.table th,
.table td {
  padding: 10px;
}

.table th {
  font-size: 16px;
}

.search-inputs {
  flex-direction: row;
}

.btn-group {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
}

@media (max-width: 500px) {
  .btn-group {
    flex-direction: column;
  }

  .btn-group .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

.btn-group .search-button {
  order: 2;
}

.btn-group .add-button {
  order: 1;
}

.btn.btn-primary.dropdown-toggle {
  margin-right: 80%;
  height: 40px;
}

@media (max-width: 768px) {
  .table {
    font-size: 14px;
    overflow-y: scroll;
    display: block;
    white-space: nowrap;
  }

  .search-container {
    width: 100%;
    position: relative;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .table th,
  .table td {
    font-size: 12px;
  }
}
