/* Basic styling for language settings */
.language-settings {
  padding: 10px;
}

.language-settings-card {
  margin-bottom: 7px;
}

.module-content {
  margin-top: 16px;
}

/* Basic table styling */
.translations-card {
  margin-top: 16px;
}

/* Responsive */
@media (max-width: 768px) {
  .language-settings {
    padding: 16px;
  }
}

/* .ant-table-body{
  max-height: 400px !important;
  overflow-y: scroll !important;
} */