.navbar-brand {
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: -120px;
  }
.bg-body-tertiary{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9%;
    z-index: 1000;
}

  .navbar .rounded-circle {
    width: 30px;
    height: 30px;
  }
  
  .me-auto {
    margin-left:90% ;
  }

 .dropdown-profile-menu{
    text-align: center;
    align-items: right;
    margin-left: 20%;
    width: 100%;
    border-radius: 5%;
 }
  


  #basic-nav-dropdown .dropdown-menu {
    min-width: 50rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    margin-left: 50%;  
  }
  
  #basic-nav-dropdown .dropdown-item i {
    margin-left: 50px;
    
  }